/* .second-section styles the section that holds the JSX of the mine count, emoji and timer. 
  It uses grid styling but inline.
  Each grid column has a width of 133 px.
*/
.second-section{
  display: inline-grid;
  grid-template-rows: 50px;
  grid-template-columns: 133px 133px 133px;
  border-width: 1px;
  border-style: solid;
  border-color: grey;  
}
/* This styles all the divs inside the second-section */
.second-section > div{
  background-color: grey;
  border-width: 1px;
  border-style: solid;
  border-color: white;  
}